<!DOCTYPE html>
<html>
<head>
<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

</head>
<body>

<form method="POST">

  <input name="amount" type="hidden" value="<%-amount%>" />
  <input name="currencyCode" type="hidden" value="<%-currencyCode%>" />
  <input name="description" type="hidden" value="<%-description%>" />
  <input name="refno" type="hidden" value="<%-refno%>" />

  <script>
  var submitted = false;

  var openStripeCheckout = function() {
    var token = function(res){
      submitted = true;
      var $input = $('<input type=hidden name=stripeToken />').val(res.id);
      $('form').attr('action', '<%-completeCallbackUrl%>');
      $('form').append($input).submit();
    };

    StripeCheckout.open({
      key: '<%-stripeKey%>',
      <% if (typeof showAddress !== 'undefined') { %> address: <%-showAddress%>, <% } %>
      amount: parseFloat('<%-amount%>')*100,
      <% if (typeof currencyCode !== 'undefined') { %> currency: '<%-currencyCode%>', <% } %>
      <% if (typeof companyName !== 'undefined') { %> name: '<%-companyName%>', <% } %>
      <% if (typeof brandImage !== 'undefined') { %> image: '<%-brandImage%>', <% } %>
      <% if (typeof description !== 'undefined') { %> description: '<%-description%>', <% } %>
      <% if (typeof panelTitle !== 'undefined') { %> panelLabel: '<%-panelTitle%>', <% } %>
      <% if (typeof submitText !== 'undefined') { %> label: '<%-submitText%>', <% } %>
      token: token,
      closed: stripeClosed
    });

    return false
  }

  var stripeClosed = function() {
    if (!submitted) {
      $('form').attr('method', 'GET');
      $('form').attr('action', '<%-cancelCallbackUrl%>');
      $('form').submit();
    }
  }

  $(function() {
    setTimeout(openStripeCheckout, 100);
  })
  </script>

</form>

</body>
</html>

